/* Footer */

.social-icon {
  margin: 20px 10px;
  color: #86aba1;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
