/*identity section */

#testimonials {
  background-color: #f1ae89;
}

.testimonial-text {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 30%;
  margin: 20px;
}

#skills {
  background-color: #dff3e3;
}

.skill-box {
  padding: 1.5%;
}

.skill-container-fluid {
  padding: 3% 5%;
}
