/* Skills section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.Features-text {
  color: #8f8f8f;
}

.feature-icon {
  color: #f1ae89;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #d68060;
}
